/* For Testing */
body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-content: center;

    /* background-image: url(city_background.jpg);
    background-size: cover; */
}

header {
    display: flex;

    .activator {
        padding: 1em;
        border-radius: 100%;
        cursor: pointer;

        &:hover {
            background: black;
        }
    }
}
